# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.flexcomm_i2c_dma
    bool
    default y if MCUX_HAS_COMPONENT_driver.flexcomm_i2c && MCUX_HAS_COMPONENT_driver.lpc_dma

config MCUX_HAS_COMPONENT_driver.flexcomm_i2c
    bool
    default y if MCUX_HW_IP_DriverType_FLEXCOMM_I2C

config MCUX_COMPONENT_driver.flexcomm_i2c_dma
    bool "flexcomm_i2c_dma"
    select MCUX_COMPONENT_driver.flexcomm_i2c
    select MCUX_COMPONENT_driver.lpc_dma
    depends on MCUX_HAS_COMPONENT_driver.flexcomm_i2c_dma

config MCUX_COMPONENT_driver.flexcomm_i2c
    bool "flexcomm_i2c"
    select MCUX_COMPONENT_driver.flexcomm
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.flexcomm_i2c
