# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.swm
    bool
    default y if MCUX_HW_IP_DriverType_SWM

config MCUX_COMPONENT_driver.swm
    bool "swm"
    select MCUX_COMPONENT_driver.common
    select MCUX_COMPONENT_driver.swm_connections
    depends on MCUX_HAS_COMPONENT_driver.swm
