# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.spi_dma
    bool
    default y if MCUX_HAS_COMPONENT_driver.spi && MCUX_HAS_COMPONENT_driver.dma

config MCUX_HAS_COMPONENT_driver.spi
    bool
    default y if MCUX_HW_IP_DriverType_SPI

config MCUX_COMPONENT_driver.spi_dma
    bool "spi_dma"
    select MCUX_COMPONENT_driver.spi
    select MCUX_COMPONENT_driver.dma
    depends on MCUX_HAS_COMPONENT_driver.spi_dma

config MCUX_COMPONENT_driver.spi
    bool "spi"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.spi
