# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause


    config MCUX_COMPONENT_driver.anatop_ai
        bool "Use driver anatop_ai"
        select MCUX_COMPONENT_driver.common

        if MCUX_COMPONENT_driver.anatop_ai

        endif
