#if defined(${VPREFIX}$_CTRL_INIT)
  ${PERIPHERAL}$->CTRL = (${PERIPHERAL}$->CTRL & ~${VPREFIX}$_CTRL_INIT_MASK) | (${VPREFIX}$_CTRL_INIT & ${VPREFIX}$_CTRL_INIT_MASK);
#endif
#if defined(${VPREFIX}$_TRIM_INIT)
  ${PERIPHERAL}$->TRIM = (${PERIPHERAL}$->TRIM & ~${VPREFIX}$_TRIM_INIT_MASK) | (${VPREFIX}$_TRIM_INIT & ${VPREFIX}$_TRIM_INIT_MASK);
#endif /* ${VPREFIX}$_TRIM_INIT */
