# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause


    config MCUX_COMPONENT_driver.misc
        bool "Use driver misc"
        select MCUX_COMPONENT_driver.common

        if MCUX_COMPONENT_driver.misc

        endif
