    /* Clear the channel before the channel config*/
    ${PERIPHERAL}$->CHANNEL[${CHANNEL}$].TCTRL &= ~(${PERIPHERAL}$_TCTRL_TEN_MASK | ${PERIPHERAL}$_TCTRL_TIE_MASK | ${PERIPHERAL}$_TCTRL_CHN_MASK);

#ifdef ${VPREFIX}$_LDVAL${CHANNEL}$_INIT
    ${PERIPHERAL}$->CHANNEL[${CHANNEL}$].LDVAL = ${VPREFIX}$_LDVAL${CHANNEL}$_INIT;
#endif

#ifdef ${VPREFIX}$_TCTRL${CHANNEL}$_INIT
    ${PERIPHERAL}$->CHANNEL[${CHANNEL}$].TCTRL = ${VPREFIX}$_TCTRL${CHANNEL}$_INIT;
#endif
