# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.key_manager
    bool
    default y if MCUX_HW_IP_DriverType_KEY_MANAGER

config MCUX_COMPONENT_driver.key_manager
    bool "key_manager"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.key_manager
