# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_component.mflash_onchip
    bool "Statically allocated file system for on chip mflash"
    default n
    select MCUX_COMPONENT_driver.flash if MCUX_HAS_COMPONENT_driver.flash
    select MCUX_COMPONENT_driver.cache_lmem if MCUX_HAS_COMPONENT_driver.cache_lmem
    select MCUX_COMPONENT_driver.iap1 if MCUX_HAS_COMPONENT_driver.iap1
    select MCUX_COMPONENT_driver.flashiap if MCUX_HAS_COMPONENT_driver.flashiap
    select MCUX_COMPONENT_driver.romapi if MCUX_HAS_COMPONENT_driver.romapi
    select MCUX_COMPONENT_driver.cache_armv7_m7 if MCUX_HAS_COMPONENT_driver.cache_armv7_m7
    select MCUX_COMPONENT_driver.cache_xcache if MCUX_HAS_COMPONENT_driver.cache_xcache
    select MCUX_COMPONENT_driver.mcm if MCUX_HAS_COMPONENT_driver.mcm
    select MCUX_COMPONENT_driver.flash_k4 if MCUX_HAS_COMPONENT_driver.flash_k4

config MCUX_COMPONENT_component.mflash_onchip_fmu
    bool "Statically allocated file system for on chip mflash via FMU controller"
    default n

config MCUX_COMPONENT_component.mflash_offchip
    bool "Statically allocated file system for off chip mflash"
    default n
    imply MCUX_COMPONENT_driver.cache_lmem if MCUX_HAS_COMPONENT_driver.cache_lmem
    imply MCUX_COMPONENT_driver.qspi if MCUX_HAS_COMPONENT_driver.qspi
    imply MCUX_COMPONENT_driver.spifi if MCUX_HAS_COMPONENT_driver.spifi
    imply MCUX_COMPONENT_driver.flashiap if MCUX_HAS_COMPONENT_driver.flashiap
    imply MCUX_COMPONENT_driver.flexspi if MCUX_HAS_COMPONENT_driver.flexspi
    imply MCUX_COMPONENT_driver.cache_cache64 if MCUX_HAS_COMPONENT_driver.cache_cache64
    imply MCUX_COMPONENT_driver.romapi if MCUX_HAS_COMPONENT_driver.romapi
    imply MCUX_COMPONENT_driver.cache_armv7_m7 if MCUX_HAS_COMPONENT_driver.cache_armv7_m7
    imply MCUX_COMPONENT_driver.cache_xcache if MCUX_HAS_COMPONENT_driver.cache_xcache
    imply MCUX_COMPONENT_driver.xspi if MCUX_HAS_COMPONENT_driver.xspi
