#ifdef (${VPREFIX}$_AOI_BFCRT01${CHANNEL}$_INIT)
 ${PERIPHERAL}$->BFCRT[${CHANNEL}$].BFCRT01 = ${VPREFIX}$_AOI_BFCRT01${CHANNEL}$_INIT;
#endif /* ${VPREFIX}$_AOI_BFCRT01${CHANNEL}$_INIT */
#ifdef (${VPREFIX}$_AOI_BFCRT23${CHANNEL}$_INIT)
 ${PERIPHERAL}$->BFCRT[${CHANNEL}$].BFCRT23 = ${VPREFIX}$_AOI_BFCRT23${CHANNEL}$_INIT;
#endif /* ${VPREFIX}$_AOI_BFCRT23${CHANNEL}$_INIT */