#ifdef ${VPREFIX}$_CHCFG${CHANNEL}$_INIT
  ${PERIPHERAL}$->CHCFG[${CHANNEL}$] &= ~${PERIPHERAL}$_CHCFG_ENBL_MASK;
  ${PERIPHERAL}$->CHCFG[${CHANNEL}$] = ${VPREFIX}$_CHCFG${CHANNEL}$_INIT;
#endif /* ${VPREFIX}$_CHCFG${CHANNEL}$_INIT */