# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.wwdt
    bool
    default y if MCUX_HW_IP_DriverType_WWDT

config MCUX_COMPONENT_driver.wwdt
    bool "wwdt"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.wwdt
