# Copyright 2024 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
rsource "${core_id}/Kconfig"

rsource "Kconfig.chip"
rsource "../MCXN947/drivers/Kconfig"
rsource "../../../arm/Kconfig.common"
rsource "Kconfig.defconfig"

## Project segment and component dependency data
config MCUX_HW_DEVICE_MCXN946
    # bool "Device MCXN946 Configuration"
    bool
    default y

    # component dependency
    select MCUX_COMPONENT_driver.edma4 if MCUX_COMPONENT_device.RTE
    select MCUX_COMPONENT_component.lpuart_adapter if MCUX_COMPONENT_component.serial_manager_uart
    select MCUX_COMPONENT_component.lpuart_adapter if MCUX_COMPONENT_utility.debug_console_lite
    select MCUX_COMPONENT_driver.mcx_spc if MCUX_COMPONENT_driver.clock
    select MCUX_COMPONENT_driver.edma_soc if MCUX_COMPONENT_driver.edma4
    select MCUX_COMPONENT_driver.edma4 if MCUX_COMPONENT_driver.flexio_mculcd_edma
    select MCUX_COMPONENT_driver.smartdma if MCUX_COMPONENT_driver.flexio_mculcd_smartdma
    select MCUX_COMPONENT_driver.trdc_soc if MCUX_COMPONENT_driver.trdc_1
    select MCUX_COMPONENT_driver.edma4 if MCUX_COMPONENT_driver.sai_edma
    select MCUX_COMPONENT_driver.edma4 if MCUX_COMPONENT_driver.lpuart_edma
    select MCUX_COMPONENT_driver.edma4 if MCUX_COMPONENT_driver.lpspi_edma
    select MCUX_COMPONENT_driver.lpflexcomm_lpspi if MCUX_COMPONENT_driver.lpspi_edma
    select MCUX_COMPONENT_driver.edma4 if MCUX_COMPONENT_driver.lpi2c_edma
    select MCUX_COMPONENT_driver.lpflexcomm_lpi2c if MCUX_COMPONENT_driver.lpi2c_edma
    select MCUX_COMPONENT_driver.lpflexcomm_lpuart_edma if MCUX_COMPONENT_driver.cmsis_lpuart
    select MCUX_COMPONENT_driver.lpflexcomm_lpspi_edma if MCUX_COMPONENT_driver.cmsis_lpspi
    select MCUX_COMPONENT_driver.lpflexcomm_lpi2c_edma if MCUX_COMPONENT_driver.cmsis_lpi2c
    select MCUX_COMPONENT_driver.edma4 if MCUX_COMPONENT_driver.flexcan_edma
    select MCUX_COMPONENT_driver.edma4 if MCUX_COMPONENT_driver.flexio_spi_edma
    select MCUX_COMPONENT_driver.edma4 if MCUX_COMPONENT_driver.flexio_uart_edma
    select MCUX_COMPONENT_driver.edma4 if MCUX_COMPONENT_driver.pdm_edma
