# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

# core related
config MCUX_HW_CORE
    string
    default "cm0p"

config MCUX_HW_CORE_CM0P
    bool
    default y

config MCUX_HW_CORE_ID
    string
    default "core0"

config MCUX_HW_CORE_ID_CORE0
    bool
    default y

config MCUX_HW_DEVICE_CORE
    string
    default "LPC804"

config MCUX_HW_FPU
    string
    default "NO_FPU"

config MCUX_HW_FPU_TYPE
    string
    default "no_fpu"

config MCUX_HW_NO_FPU
    bool
    default y

config MCUX_HW_INT_PRIO_BITS
    int
    default 2

config MCUX_HW_SOC_SERIES_LPC
    bool
    default y

config MCUX_HW_SOC_SINGLECORE_DEVICE
    bool
    default y

# device related

config MCUX_HW_DEVICE_ID_LPC804
    bool

choice MCUX_HW_DEVICE_PART_LPC804
    prompt "Device LPC804 Part"
    config MCUX_HW_DEVICE_PART_LPC804M101JDH24
    bool "Device part LPC804M101JDH24"
    select MCUX_HW_DEVICE_ID_LPC804
    config MCUX_HW_DEVICE_PART_LPC804M101JDH20
    bool "Device part LPC804M101JDH20"
    select MCUX_HW_DEVICE_ID_LPC804
    config MCUX_HW_DEVICE_PART_LPC804M111JDH24
    bool "Device part LPC804M111JDH24"
    select MCUX_HW_DEVICE_ID_LPC804
    config MCUX_HW_DEVICE_PART_LPC804M101JHI33
    bool "Device part LPC804M101JHI33"
    select MCUX_HW_DEVICE_ID_LPC804
    config MCUX_HW_DEVICE_PART_LPC804UK
    bool "Device part LPC804UK"
    select MCUX_HW_DEVICE_ID_LPC804
endchoice

config MCUX_HW_DEVICE_ID
    string
    default "LPC804" if MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_DEVICE_PART
    string
    default "LPC804M101JDH24" if MCUX_HW_DEVICE_PART_LPC804M101JDH24
    default "LPC804M101JDH20" if MCUX_HW_DEVICE_PART_LPC804M101JDH20
    default "LPC804M111JDH24" if MCUX_HW_DEVICE_PART_LPC804M111JDH24
    default "LPC804M101JHI33" if MCUX_HW_DEVICE_PART_LPC804M101JHI33
    default "LPC804UK" if MCUX_HW_DEVICE_PART_LPC804UK

# For chipmodel generated files
config MCUX_TOOLCHAIN_LINKER_DEVICE_PREFIX
    string
    default "LPC804" if MCUX_HW_DEVICE_ID_LPC804

config MCUX_TOOLCHAIN_MCUX_STARTUP
    string
    default "lpc804"

# Toolchain related

config MCUX_TOOLCHAIN_IAR_CPU_IDENTIFIER
    string
    default "LPC804M101" if MCUX_HW_DEVICE_ID_LPC804

config MCUX_TOOLCHAIN_MDK_CPU_IDENTIFIER
    string
    default "LPC804M101JDH24" if MCUX_HW_DEVICE_PART_LPC804M101JDH24
    default "LPC804M101JDH20" if MCUX_HW_DEVICE_PART_LPC804M101JDH20
    default "LPC804M111JDH24" if MCUX_HW_DEVICE_PART_LPC804M111JDH24
    default "LPC804M101JHI33" if MCUX_HW_DEVICE_PART_LPC804M101JHI33
    default "LPC804UK" if MCUX_HW_DEVICE_PART_LPC804UK

config MCUX_TOOLCHAIN_JLINK_CPU_IDENTIFIER
    string
    default "LPC804" if MCUX_HW_DEVICE_ID_LPC804

# ip information
config MCUX_HW_IP_DriverType_ACOMP
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_ADC12_5M
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_CAPT
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_CTIMER
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_DAC10
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_GPIO_PORT
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_I2C_SERIALIF
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_IAP
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_IOCON_LITE
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_LPC_CLOCK
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_LPC_NVIC
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_LPC_PMU
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_MCO_CRC
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_MINI_SPI
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_MINI_USART
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_MRT
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_PINT
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_PLU
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_SWM
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_SYSCON
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_WKT
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804

config MCUX_HW_IP_DriverType_WWDT
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_LPC804
