#if defined(${VPREFIX}$_SC1${TRIGGER_LETTER}$_INIT) && (${VPREFIX}$_SC1${TRIGGER_LETTER}$_INIT != 0x1FUL)
  ${PERIPHERAL}$->SC1[${CONVERSION_INDEX}$] = ${VPREFIX}$_SC1${TRIGGER_LETTER}$_INIT;
#endif /* ${VPREFIX}$_SC1${TRIGGER_LETTER}$_INIT */