# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.ssarc
    bool
    default y if MCUX_HW_IP_DriverType_SSARC_HP || MCUX_HW_IP_DriverType_SSARC_LP

config MCUX_COMPONENT_driver.ssarc
    bool "ssarc"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.ssarc
