# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.sdif
    bool
    default y if MCUX_HW_IP_DriverType_SDIF

config MCUX_COMPONENT_driver.sdif
    bool "sdif"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.sdif
