# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.ecspi_sdma
    bool
    default y if MCUX_HAS_COMPONENT_driver.ecspi && MCUX_HAS_COMPONENT_driver.sdma

config MCUX_HAS_COMPONENT_driver.ecspi
    bool
    default y if MCUX_HW_IP_DriverType_ECSPI

config MCUX_COMPONENT_driver.ecspi_sdma
    bool "ecspi_sdma"
    select MCUX_COMPONENT_driver.ecspi
    select MCUX_COMPONENT_driver.sdma
    depends on MCUX_HAS_COMPONENT_driver.ecspi_sdma

config MCUX_COMPONENT_driver.ecspi
    bool "ecspi"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.ecspi
