# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.pdm_edma
    bool
    default y if MCUX_HAS_COMPONENT_driver.pdm && (MCUX_HAS_COMPONENT_driver.dma3 || MCUX_HAS_COMPONENT_driver.edma || MCUX_HAS_COMPONENT_driver.edma4)

config MCUX_HAS_COMPONENT_driver.pdm_sdma
    bool
    default y if MCUX_HAS_COMPONENT_driver.pdm && MCUX_HAS_COMPONENT_driver.sdma

config MCUX_HAS_COMPONENT_driver.pdm
    bool
    default y if MCUX_HW_IP_DriverType_PDM

config MCUX_COMPONENT_driver.pdm_edma
    bool "pdm_edma"
    select MCUX_COMPONENT_driver.pdm
    select MCUX_COMPONENT_driver.dma3 if MCUX_HAS_COMPONENT_driver.dma3
    select MCUX_COMPONENT_driver.edma if MCUX_HAS_COMPONENT_driver.edma
    select MCUX_COMPONENT_driver.edma4 if MCUX_HAS_COMPONENT_driver.edma4
    depends on MCUX_HAS_COMPONENT_driver.pdm_edma

config MCUX_COMPONENT_driver.pdm_sdma
    bool "pdm_sdma"
    select MCUX_COMPONENT_driver.pdm
    select MCUX_COMPONENT_driver.sdma
    depends on MCUX_HAS_COMPONENT_driver.pdm_sdma

config MCUX_COMPONENT_driver.pdm
    bool "pdm"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.pdm
