# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.lpcmp
    bool
    default y if MCUX_HW_IP_DriverType_LPCMP

config MCUX_COMPONENT_driver.lpcmp
    bool "lpcmp"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.lpcmp
