# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.gpc_1
    bool
    default y if MCUX_HW_IP_DriverType_GPC_1

config MCUX_COMPONENT_driver.gpc_1
    bool "gpc_1"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.gpc_1
