# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.ci_pi
    bool
    default y if MCUX_HW_IP_DriverType_CI_PI_CSR

config MCUX_COMPONENT_driver.ci_pi
    bool "ci_pi"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.ci_pi
