# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.mipi_dsi_split
    bool
    default y if MCUX_HW_IP_DriverType_MIPI_DSI_SPLIT

config MCUX_COMPONENT_driver.mipi_dsi_split
    bool "mipi_dsi_split"
    select MCUX_COMPONENT_driver.common
    select MCUX_COMPONENT_driver.mipi_dsi_soc
    select MCUX_COMPONENT_driver.mipi_csi2rx_soc
    depends on MCUX_HAS_COMPONENT_driver.mipi_dsi_split
