#ifdef ${VPREFIX}$_C${CHANNEL}$SC_INIT
  ${PERIPHERAL}$->CONTROLS[${CHANNEL}$].CnSC = ${VPREFIX}$_C${CHANNEL}$SC_INIT;
#else
  ${PERIPHERAL}$->CONTROLS[${CHANNEL}$].CnSC = 0x0U;
#endif /*${VPREFIX}$_C${CHANNEL}$SC_INIT */
#ifdef ${VPREFIX}$_C${CHANNEL}$V_INIT
  ${PERIPHERAL}$->CONTROLS[${CHANNEL}$].CnV = ${VPREFIX}$_C${CHANNEL}$V_INIT;
#else
  ${PERIPHERAL}$->CONTROLS[${CHANNEL}$].CnV = 0x0U;
#endif /*${VPREFIX}$_C${CHANNEL}$V_INIT */
