# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.rtd_cmc
    bool
    default y if MCUX_HW_IP_DriverType_RTD_CMC

config MCUX_COMPONENT_driver.rtd_cmc
    bool "rtd_cmc"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.rtd_cmc
