# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.enet_qos
    bool
    default y if MCUX_HW_IP_DriverType_ENET_QOS

config MCUX_COMPONENT_driver.enet_qos
    bool "enet_qos"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.enet_qos
