    /* Software reset ${PERIPHERAL}$. */
    ${SW_RESET_CONTROL_PERIPHERAL}$->${SW_RESET_CONTROL_REGISTER}$ |= ${SW_RESET_CONTROL_PERIPHERAL}$_${SW_RESET_CONTROL_REGISTER}$_${SW_RESET_CONTROL_BITFIELD}$_MASK;
    ${SW_RESET_CONTROL_PERIPHERAL}$->${SW_RESET_CONTROL_REGISTER}$ &= ~ ${SW_RESET_CONTROL_PERIPHERAL}$_${SW_RESET_CONTROL_REGISTER}$_${SW_RESET_CONTROL_BITFIELD}$_MASK;
#if defined(${VPREFIX}$_CTRLA_INIT)
    ${PERIPHERAL}$->CTRLA = ${VPREFIX}$_CTRLA_INIT;
#endif /* ${VPREFIX}$_CTRLA_INIT */
#if defined(${VPREFIX}$_CTRLC_INIT)
    ${PERIPHERAL}$->CTRLC = ${VPREFIX}$_CTRLC_INIT;
#endif /* ${VPREFIX}$_CTRLC_INIT */
#if defined(${VPREFIX}$_DELAYA_INIT)
    ${PERIPHERAL}$->DELAYA = ${VPREFIX}$_DELAYA_INIT;
#endif /* ${VPREFIX}$_DELAYA_INIT */
#if defined(${VPREFIX}$_DELAYB_INIT)
    ${PERIPHERAL}$->DELAYB = ${VPREFIX}$_DELAYB_INIT;
#endif /* ${VPREFIX}$_DELAYB_INIT */
#if defined(${VPREFIX}$_DELAYC_INIT)
    ${PERIPHERAL}$->DELAYC = ${VPREFIX}$_DELAYC_INIT;
#endif /* ${VPREFIX}$_DELAYC_INIT */
#if defined(${VPREFIX}$_DELAYD_INIT)
    ${PERIPHERAL}$->DELAYD = ${VPREFIX}$_DELAYD_INIT;
#endif /* ${VPREFIX}$_DELAYD_INIT */
#if defined(${VPREFIX}$_MOD_INIT)
    ${PERIPHERAL}$->MOD = ${VPREFIX}$_MOD_INIT;
#endif /* ${VPREFIX}$_MOD_INIT */
#if defined(${VPREFIX}$_MCTRL_INIT)
#if ((${VPREFIX}$_MCTRL_INIT & PDB_MCTRL_PDBEN_MASK) != 0)
    ${PERIPHERAL}$->MCTRL = (${VPREFIX}$_MCTRL_INIT & (~PDB_MCTRL_PDBEN_MASK) & (~PDB_MCTRL_LDOK_MASK));
    ${PERIPHERAL}$->MCTRL |= PDB_MCTRL_LDOK_MASK;
    ${PERIPHERAL}$->MCTRL |= PDB_MCTRL_PDBEN_MASK;
#else
    ${PERIPHERAL}$->MCTRL = ${VPREFIX}$_MCTRL_INIT;
#endif
#endif /* ${VPREFIX}$_MCTRL_INIT */
