# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.pmc0
    bool
    default y if MCUX_HW_IP_DriverType_PMC0

config MCUX_COMPONENT_driver.pmc0
    bool "pmc0"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.pmc0
