  /* Software reset ${PERIPHERAL}$. */
  ${SW_RESET_CONTROL_PERIPHERAL}$->${SW_RESET_CONTROL_REGISTER}$ |= ${SW_RESET_CONTROL_PERIPHERAL}$_${SW_RESET_CONTROL_REGISTER}$_${SW_RESET_CONTROL_BITFIELD}$_MASK;
  ${SW_RESET_CONTROL_PERIPHERAL}$->${SW_RESET_CONTROL_REGISTER}$ &= ~ ${SW_RESET_CONTROL_PERIPHERAL}$_${SW_RESET_CONTROL_REGISTER}$_${SW_RESET_CONTROL_BITFIELD}$_MASK;
  
  /* Enable the OPAMP */
  ${PERIPHERAL}$->CTRL |= OPAMP_CTRL_EN_MASK;
  /* Clear write protection */
  ${PERIPHERAL}$->STAT = OPAMP_STAT_WP_CLR(2);
  ${PERIPHERAL}$->CTRL &= ~OPAMP_CTRL_LDOK_MASK;
  ${PERIPHERAL}$->CTRL |= OPAMP_CTRL_LDMOD_MASK;