# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.edma4
    bool
    default y if MCUX_HW_IP_DriverType_EDMA3 || MCUX_HW_IP_DriverType_EDMA4

config MCUX_COMPONENT_driver.edma4
    bool "edma4"
    depends on MCUX_HAS_COMPONENT_driver.edma4
    select MCUX_COMPONENT_driver.edma_soc
