# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

menu "Device specific drivers configuration"
     rsource "../../KW47Z420B3/drivers/Kconfig_clock"
     rsource "../../KW47Z420B3/drivers/Kconfig_romapi"
endmenu
