# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.jn_cmp
    bool
    default y if MCUX_HW_IP_DriverType_JN_CMP

config MCUX_COMPONENT_driver.jn_cmp
    bool "jn_cmp"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.jn_cmp
