# Copyright 2024 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HW_DEVICE_MIMX8ULP_CORE_ID_cm33
    bool
    default y

rsource "Kconfig.chip"
rsource "../../../../arm/Kconfig.common"
