# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.flash_k4
    bool
    default y if MCUX_HW_IP_DriverType_FLASH_K4

config MCUX_COMPONENT_driver.flash_k4
    bool "flash_k4"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.flash_k4 || MCUX_HW_IP_DriverType_FMU
