# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.flexio_camera_edma
    bool
    default y if MCUX_HAS_COMPONENT_driver.flexio_camera && MCUX_HAS_COMPONENT_driver.edma

config MCUX_HAS_COMPONENT_driver.flexio_camera
    bool
    default y if MCUX_HW_IP_DriverType_FLEXIO

config MCUX_COMPONENT_driver.flexio_camera_edma
    bool "flexio_camera_edma"
    select MCUX_COMPONENT_driver.flexio_camera
    select MCUX_COMPONENT_driver.edma
    depends on MCUX_HAS_COMPONENT_driver.flexio_camera_edma

config MCUX_COMPONENT_driver.flexio_camera
    bool "flexio_camera"
    select MCUX_COMPONENT_driver.flexio
    depends on MCUX_HAS_COMPONENT_driver.flexio_camera
