#if defined(${VPREFIX}$_SC1_CONV${CONVERSION_INDEX}$_INIT)
${PERIPHERAL}$->SC1[${CONVERSION_INDEX}$] = ${VPREFIX}$_SC1_CONV${CONVERSION_INDEX}$_INIT;
#endif /* ${VPREFIX}$_SC1_CONV${CONVERSION_INDEX}$_INIT */
