# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.flexcomm_usart_dma
    bool
    default y if MCUX_HAS_COMPONENT_driver.flexcomm_usart && MCUX_HAS_COMPONENT_driver.lpc_dma

config MCUX_HAS_COMPONENT_driver.flexcomm_usart
    bool
    default y if MCUX_HW_IP_DriverType_FLEXCOMM_USART

config MCUX_COMPONENT_driver.flexcomm_usart_dma
    bool "flexcomm_usart_dma"
    select MCUX_COMPONENT_driver.flexcomm_usart
    select MCUX_COMPONENT_driver.lpc_dma
    depends on MCUX_HAS_COMPONENT_driver.flexcomm_usart_dma

config MCUX_COMPONENT_driver.flexcomm_usart
    bool "flexcomm_usart"
    select MCUX_COMPONENT_driver.flexcomm
    depends on MCUX_HAS_COMPONENT_driver.flexcomm_usart
