# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.adc_etc
    bool
    default y if MCUX_HW_IP_DriverType_ADC_ETC

config MCUX_COMPONENT_driver.adc_etc
    bool "adc_etc"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.adc_etc
