# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.pmu
    bool
    default y if MCUX_HW_IP_DriverType_PMU

config MCUX_COMPONENT_driver.pmu
    bool "pmu"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.pmu
