# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.rng
    bool
    default y if MCUX_HW_IP_DriverType_RNG

config MCUX_COMPONENT_driver.rng
    bool "rng"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.rng
