# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.lpflexcomm_lpi2c_edma
    bool
    default y if MCUX_HAS_COMPONENT_driver.lpflexcomm_lpi2c && MCUX_HAS_COMPONENT_driver.edma4

config MCUX_HAS_COMPONENT_driver.lpflexcomm_lpi2c
    bool
    default y if MCUX_HW_IP_DriverType_LPFLEXCOMM_LPI2C

config MCUX_COMPONENT_driver.lpflexcomm_lpi2c
    bool "lpflexcomm_lpi2c"
    select MCUX_COMPONENT_driver.lpflexcomm
    depends on MCUX_HAS_COMPONENT_driver.lpflexcomm_lpi2c

config MCUX_COMPONENT_driver.lpflexcomm_lpi2c_edma
    bool "lpflexcomm_lpi2c_edma"
    select MCUX_COMPONENT_driver.lpflexcomm_lpi2c
    select MCUX_COMPONENT_driver.edma4
    depends on MCUX_HAS_COMPONENT_driver.lpflexcomm_lpi2c_edma
