# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.lpc_crc
    bool
    default y if MCUX_HW_IP_DriverType_MCO_CRC

config MCUX_COMPONENT_driver.lpc_crc
    bool "lpc_crc"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.lpc_crc
