# Copyright 2024 NXP
#  
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HW_DEVICE_KW47B42Z83_CORE_ID_cm33_core0
    bool
    default y

rsource "Kconfig.chip"

config ECC_RAM_STCM8_INIT
    bool "ECC_RAM_STCM8_INIT"
    help
        No prefix in generated macro