# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

menu "Device specific drivers configuration"

    rsource "../../MCXW727C/drivers/Kconfig_clock"
    rsource "../../MCXW727C/drivers/Kconfig_romapi"

endmenu
