# Copyright 2024 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

rsource "Kconfig.chip"
rsource "drivers/Kconfig"
rsource "../../../arm/Kconfig.common"
rsource "Kconfig.defconfig"
rsource "xip/Kconfig"

config MCUX_HW_DEVICE_MIMXRT1181
    # bool "Device MIMXRT1181 Configuration"
    bool
    default y

    imply MCUX_COMPONENT_driver.cache_xcache if MCUX_PRJSEG_module.device.suite