# Copyright 2024 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

rsource "Kconfig.chip"
rsource "drivers/Kconfig"
rsource "../../../arm/Kconfig.common"
rsource "Kconfig.defconfig"

## Project segment and component dependency data
config MCUX_HW_DEVICE_MKE02Z4
    # bool "Device MKE02Z4 Configuration"
    bool
    default y

    # component dependency
    select MCUX_COMPONENT_component.uart_adapter if MCUX_COMPONENT_component.serial_manager_uart
    select MCUX_COMPONENT_component.uart_adapter if MCUX_COMPONENT_utility.debug_console_lite
