# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.dsc_qtmr
    bool
    default y if MCUX_HW_IP_DriverType_DSC_TMR

config MCUX_COMPONENT_driver.dsc_qtmr
    bool "dsc_qtmr"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.dsc_qtmr
