# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.snvs_lp
    bool
    default y if MCUX_HW_IP_DriverType_SNVS

config MCUX_COMPONENT_driver.snvs_lp
    bool "snvs_lp"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.snvs_lp
