# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.prg
    bool
    default y if MCUX_HW_IP_DriverType_PRG

config MCUX_COMPONENT_driver.prg
    bool "prg"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.prg
