# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.pn76_pnev7642fama_hostif
    bool
    default y if MCUX_HW_IP_DriverType_HOSTIF

config MCUX_COMPONENT_driver.pn76_pnev7642fama_hostif
    bool "pn76_pnev7642fama_hostif"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.pn76_pnev7642fama_hostif
