# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.lpc_minispi
    bool
    default y if MCUX_HW_IP_DriverType_MINI_SPI

config MCUX_COMPONENT_driver.lpc_minispi
    bool "lpc_minispi"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.lpc_minispi
