# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_trdc
config MCUX_HAS_driver_trdc
    bool

config MCUX_USE_driver_trdc
    depends on MCUX_HAS_driver_trdc
    bool "Trdc Driver"
    select MCUX_USE_driver_common
    help
      TRDC Driver
