# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.sdu
    bool
    default y if MCUX_HW_IP_DriverType_CNS_SDU_FBR_CARD || MCUX_HW_IP_DriverType_CNS_SDU_FN0_CARD || MCUX_HW_IP_DriverType_CNS_SDU_FN_CARD

config MCUX_COMPONENT_driver.sdu
    bool "sdu"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.sdu
